{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-form">
    <form method="POST" action="{{ url_for('login') }}">
        <img src="{{ url_for('static', filename='images/sign in.png') }}" alt="Logo" width="80">
        <h2>LOGIN</h2>

        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>

        <button type="submit">Entrar</button>
    </form>
</div>
{% endblock %}
