@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*   {
margin: 0;
padding: 0;
font-family:'Permanent+Maker', sans-serif;
    }

.fa-light fa-heart::before 
    {
        content: "\f2ed";
    }


body 
    {
        min-height: 80vh;
        display: grid;
        place-content : center;
        background: #666666;
    }
p 
    {
        color: #222;
        font-size: 1,5em;
        position: absolute;
        text-align: justify;
        top: 45%;
        left: 10%;
    }
.banner 
        {
            position: absolute;
            min-height: 15vh;
            width: 15%;
            display: contents;
            align-items: center;
            justify-content: center;
            border-radius: 5%;
box-shadow: inset 5px 5px 5px rgb(0,0,0,0,2),
            inset -5px -5px -15px rgba(255,255,255,255,0.1),
            inset 5px 5px 15px rgba(0,0,0,0,3),
            inset -5px -5px 15px rgba(255,255,255,255,0.1)
        }

.banner .title 
        {
            position: absolute;
            top: 5%;
            left: 5%;
            margin: 5%;
            padding: 0 10px ;
            font-size: 15vh;
            color: #fff;
            text-shadow: 0 0 5px #ff005b;
        }
.banner .title::after 
        {
            content: attr(data-text);
            position: absolute;
            top: 0%;
            left: 0%;
            padding: 0 20px;
            z-index: -1;
            color: #ff005b;
            filter: blur(15px);
            width: 100%;
            height: 100%;
        }
.banner .title::before
        {
            content: '';
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background: #fe3a80;
            z-index: -2 ;
            opacity: .5;
            filter: blur(40px);
        }
.banner .from-control
        {
            box-sizing: content-box;
            width: 100px;
            height: 100px;
            border: solid;
            padding: 20px;
            background-color: aqua;
            z-index: -6;
            filter: blur(50%);
        }
.banner .botton-descarga-mp4
        {
            padding: 2%;
            width: 100px;
            height: 50px;
            top: 5px;
            left: auto;
            margin: 10 100%;
            text-decoration: underline;
            color: #FF5733;
            background-color: #222;
            box-shadow: 0 0 5px forestgreen, 0 0 5px blueviolet, 0 0 30px orange, 0 0 60 red;
            transition: 1s;
        }
.banner .botton-descarga-mp3
        {
            padding: 2%;
            width: 100px;
            height: 50px;
            top: 5px;
            left: auto;
            margin: 10 100%;
            text-decoration: underline;
            color: #FF5733;
            background-color: #222;
            box-shadow: 0 0 5px forestgreen, 0 0 5px blueviolet, 0 0 30px orange, 0 0 60 red;
            transition: 1s;
        }
.banner .left 
        {
         height: 300px;
         width: 40px;
         position:center;
         top: 30%;
         left: 50%;
         border-radius: 15px;
         object-fit: cover;
         box-shadow:inset 5px 5px 5px rgba(0,0,0,0,3),
                    inset -5px -5px 15px rgba(255,255,255,255,0.3),
                    inset 5px 5px 5px rgba(0,0,0,0,3),
                    inset -5px -5px 15px rgba(255,255,255,255,0.1);
        } 