@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif; /* Agregué comillas y 'sans-serif' para la seguridad */
    margin: 0;
    padding: 0;
}


.contenedor-header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

/* Estilos para el encabezado */
.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

/* Estilos para el logo */
.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1cb698;
    text-decoration: none;
}

/* Estilos para el menú de navegación */
.contenedor-header nav ul {
    list-style: none;
    display: flex;
}

.contenedor-header nav ul li {
    margin-right: 20px;
}

.contenedor-header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5; /* Ajusta según sea necesario */
}

.contenedor-header nav ul li a:hover {
    color: #1cb698
}

/* Estilos para el menú de navegación responsivo */
.nav-responsive {
    display: flexbox;
    background-color: #1cb698;
    color: #ffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 10px; /* Ajusta según sea necesario para la distancia desde la parte superior */
    right: 10px; /* Ajusta según sea necesario para la distancia desde la derecha */
    z-index: 100;
    
}

/* Mostrar el menú responsivo en pantallas pequeñas */

html{
    scroll-behavior: smooth;
}

.inicio{
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
                url(img/fondoportafolio.png);
    background-size: cover;
    background-position: center; /* Centra la imagen en la pantalla */
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio img {
    width: 180px;
    height: 180px;
    border: 5px solid #1cb698; /* Ajusta el grosor y el color del borde según sea necesario */
    border-radius: 50%; /* Hace que el borde sea redondeado, adecuado para imágenes de perfil */
}

.inicio h1,
.inicio h2 {
    font-family: 'Work Sans', sans-serif;
}

.inicio h1 {
    font-size: 2em; /* Ajusta según sea necesario */
    font-weight: 700; /* Puedes ajustar el peso de la fuente si lo necesitas */
}

.inicio h2 {
    font-size: 1.5em; /* Ajusta según sea necesario */
    font-weight: 400; /* Puedes ajustar el peso de la fuente si lo necesitas */
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    margin: auto;
    text-align: center;
    border-radius: 50px;
    max-width: 350px;

}

.inicio .contenido-banner h1{
    font-family: 'Righteous';
    margin-top: 40px;
    font-size: 42px;
}

.inicio .contenido-banner .redes a{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;

}

.inicio .contenido-banner .redes a:hover{
    background-color: #1cb698;
}

.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .seccion-contenido {
    max-width: 1100px;
    margin: auto;
}

.sobremi .seccion-contenido p{
    font-size: 18px; /* Corregido de 'font' a 'font-size' */
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .seccion-contenido p span{
    color: #1cb698;
    font-weight: bold;
}
.col {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.seccion-contenido,
.fila,
.col {
    padding: 0 0 20px 0;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .datos {
    margin: 10px; /* Espaciado exterior de 10 píxeles */
    display: flex;
    justify-content: space-between; /* Distribuye los elementos uniformemente a lo largo del contenedor */
}

.sobremi .fila .datos ul {
    list-style: none;
    padding: 0; /* Elimina el relleno de la lista para evitar espaciado adicional */
}

.sobremi .fila .datos ul li {
    margin: 10px 0; /* Ajusta el margen superior e inferior de cada elemento de la lista */
}
.sobremi.fila.col{
    width: 50%;
}
.sobremi.fila.col h3{
    font-size: 20px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi.fila.col ul{
    list-style: none;
}

.sobremi.fila.col ul li{
    margin: 12px 0;
}

.sobremi.fila.col ul li strong{
    display: inline-block;
    color: #1cb698;
    width: 130px;
}


.sobremi strong {
    background-color: #1cb698;
    padding: 3px 0 2px 0;
    font-weight: bold;
    border-radius: 5px;

}

.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: white;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay{
    width: 100%;
}
/**/