---
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = 'PAGINA DE PRUEBA E^3' } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-50 text-slate-900">
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}
</style>
